:root {
  /* colors */
  --brand-black: #2e2e2e;
  --brand-white: #fff;
  --brand-grey-l: #ecf0f1;
  --brand-grey-d: #bdc3c7;
  --brand-blue-l: #3498db;
  --brand-blue-m: #2980b9;
  --brand-blue-d: #2c3e50;

  /* branding */
  --brand-color-primary: var(--brand-blue-m);
  --brand-color-secondary: var(--brand-blue-d);
  --brand-color-action: var(--brand-blue-l);

  /* fonts */
  --brand-font-color: var(--brand-black);
  --brand-font-family: "Roboto", sans-serif;
  --brand-font-size: 16px;
  --brand-font-weight: 400;
  --brand-line-height: 1.5;

  /* sizes */
  --size-4: .25rem;
  --size-8: .5rem;
  --size-16: 1rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;

  /* transitions */
  --transition-fast: .16s ease-in-out 0s;
  --transition-norm: .24s ease-in-out 0s;
  --transition-slow: .32s ease-in-out 0s;
}
