:root {
  /* colors */
  --brand-black: #2e2e2e;
  --brand-white: #fff;
  --brand-grey-l: #ecf0f1;
  --brand-grey-d: #bdc3c7;
  --brand-blue-l: #3498db;
  --brand-blue-m: #2980b9;
  --brand-blue-d: #2c3e50;

  /* branding */
  --brand-color-primary: var(--brand-blue-m);
  --brand-color-secondary: var(--brand-blue-d);
  --brand-color-action: var(--brand-blue-l);

  /* fonts */
  --brand-font-color: var(--brand-black);
  --brand-font-family: "Roboto", sans-serif;
  --brand-font-size: 16px;
  --brand-font-weight: 400;
  --brand-line-height: 1.5;

  /* shadows */
  --box-shadow-1: 0 var(--size-1) var(--size-4) rgba(0,0,0,.32);
  --box-shadow-1-invert: 0 var(--size-1) var(--size-4) rgba(255,255,255,.32);
  --txt-shadow-1: 0 var(--size-1) var(--size-4) rgba(0,0,0,.48);
  --txt-shadow-1-invert: 0 var(--size-1) var(--size-4) rgba(255,255,255,.48);
  --txt-shadow-2: 0 var(--size-1) var(--size-1) rgba(0,0,0,.72);

  /* sizes */
  --size-1: .0625rem;
  --size-4: .25rem;
  --size-8: .5rem;
  --size-12: .75rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-88: 5.5rem;
  --size-96: 6rem;
  --size-104: 6.5rem;
  --size-112: 7rem;
  --size-120: 7.5rem;
  --size-128: 8rem;

  /* general */
  --border-radius: var(--size-4);
  --landmark-spacing: 8vh;

  /* transitions */
  --transition-fast: all .16s ease-in-out 0s;
  --transition-norm: all .24s ease-in-out 0s;
  --transition-slow: all .32s ease-in-out 0s;

}

/* inputs */
:root {
  --input-border-color: var(--brand-grey-d);
  --input-border-radius: var(--border-radius);
  --input-height: var(--size-40);
}

[type="email"],
[type="password"],
[type="search"],
[type="text"] {
  border: solid var(--size-1) var(--input-border-color);
  border-radius: var(--input-border-radius);
  padding-right: var(--size-16);
  padding-left: var(--size-16);
  line-height: calc(var(--input-height) - 2px);
}

[input-type="full-flat"] {
  border-bottom: none;
  border-radius: var(--input-border-radius) var(--input-border-radius) 0 0;
  width: 100%;
}

/* buttons */
:root {
  --btn-bg-color: var(--brand-color-primary);
  --btn-border-color: var(--brand-color-primary);
  --btn-border-radius: var(--border-radius);
  --btn-border-size: 0;
  --btn-font-color: var(--brand-white);
  --btn-font-size: inherit; /* 16px or 1rem */
  --btn-padding: var(--size-24);
  --btn-height: var(--size-40);
  --btn-width: initial;
}

[button-type] {
  background: var(--btn-bg-color);
  border: var(--btn-border-size) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  color: var(--btn-font-color);
  display: inline-block;
  font-size: var(--btn-font-size);
  font-weight: bold;
  padding-right: var(--btn-padding);
  padding-left: var(--btn-padding);
  text-align: center;
  line-height: var(--btn-height);
  width: var(--btn-width);
  transition: var(--transition-fast);
}

[button-type="full"] {
  width: 100%;
}

[button-type="full-flat"] {
  border-radius: 0 0 var(--btn-border-radius) var(--btn-border-radius);
  width: 100%;
}

[button-type="icon"] {
  --btn-border-radius: 50%;
  --btn-font-size: var(--size-32);
  --btn-padding: 0;
  --btn-width: var(--size-40);
}

[button-type="small"] {
  --btn-font-size: var(--size-12);
  --btn-padding: var(--size-8);
  --btn-height: var(--size-24);
}

[button-type="icon-small"] {
  --btn-font-size: var(--size-16);
  --btn-padding: 0;
  --btn-height: var(--size-24);
  --btn-width: var(--size-24);
}

.btn-primary {
  --btn-bg-color: var(--brand-color-primary);
  --btn-border-color: var(--brand-color-primary);
  --btn-font-color: var(--brand-white);
}

.btn-primary:focus,
.btn-primary:hover {
  --btn-bg-color: var(--brand-color-action);
  --btn-border-color: var(--brand-color-action);
  --btn-font-color: var(--brand-white);
}

.btn-secondary {
  --btn-bg-color: var(--brand-color-secondary);
  --btn-border-color: var(--brand-color-secondary);
  --btn-font-color: var(--brand-white);
}

.btn-secondary:focus,
.btn-secondary:hover {
  --btn-bg-color: var(--brand-color-action);
  --btn-border-color: var(--brand-color-action);
  --btn-font-color: var(--brand-white);
}

.btn-tertiary {
  --btn-bg-color: var(--brand-grey-l);
  --btn-border-color: var(--brand-grey-d);
  --btn-font-color: var(--brand-color-secondary);
}

.btn-tertiary:focus,
.btn-tertiary:hover {
  --btn-bg-color: var(--brand-color-secondary);
  --btn-font-color: var(--brand-white);
}

/* dialog */
:root {
  --dialog-bg-color: var(--brand-grey-l);
  --dialog-bg-blur: var(--size-4);
  --dialog-bg-transition: var(--transition-norm);
  --dialog-padding: var(--size-32);
  --dialog-shadow: var(--box-shadow-1);
  --dialog-transition: var(--transition-slow);
  --dialog-width: 20rem;
  --dialog-close-area-right: auto;
  --dialog-close-area-left: 0;
  --dialog-close-right: auto;
  --dialog-close-left: calc(-1 * var(--size-56));
  --dialog-content-right: calc(-1 * var(--dialog-width));
  --dialog-content-left: auto;
  --dialog-target-content-transform: translateX(calc(var(--dialog-width) * -1));
}

.dialog {
  background: rgba(0,0,0,.64);
  backdrop-filter: blur(var(--dialog-bg-blur));
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  inset: 0;
  z-index: 9;
  transition: var(--dialog-bg-transition);
}

.dialog-close-area {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  width: calc(100% - var(--dialog-width));
  position: absolute;
  top: 0;
  right: var(--dialog-close-area-right);
  left: var(--dialog-close-area-left);
}

.dialog-close {
  box-shadow: var(--dialog-shadow);
  position: absolute;
  top: var(--size-16);
  right: var(--dialog-close-right);
  left: var(--dialog-close-left);
  z-index: 9
}

.dialog-content {
  background: var(--dialog-bg-color);
  box-shadow: var(--dialog-shadow);
  padding: var(--dialog-padding);
  height: 100vh;
  width: var(--dialog-width);
  max-width: 96%;
  position: fixed;
  top: 0;
  right: var(--dialog-content-right);
  left: var(--dialog-content-left);
  transition: var(--dialog-transition);
}

.dialog:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.dialog:target .dialog-content {
  transform: var(--dialog-target-content-transform);
}

[dialog-type~="primary"] {
  --dialog-close-area-right: 0;
  --dialog-close-area-left: auto;
  --dialog-close-right: calc(-1 * var(--size-56));
  --dialog-close-left: auto;
  --dialog-content-right: auto;
  --dialog-content-left: calc(-1 * var(--dialog-width));
  --dialog-target-content-transform: translateX(calc(var(--dialog-width) * 1));
}

[dialog-type~="primary"] .dialog-content {
  background-image: url("../assets/tire-tread.png");
  background-repeat: no-repeat;
  background-size: auto 50%;
}

/* logo */
:root {
  --logo-color: var(--brand-white);
  --logo-font-size-1: var(--size-48);
  --logo-font-size-2: var(--size-20);
  --logo-txt-shadow: var(--txt-shadow-1);
  --logo-tire-wheel: var(--brand-white);
  --logo-tire-shadow: var(--box-shadow-1);
  --logo-tire-size: var(--size-72);
  --logo-tire-spacing: var(--size-64);
  --logo-tire-width: var(--size-12);
}

.logo {
  color: var(--logo-color);
  font-style: italic;
  font-weight: bold;
  padding: var(--size-4) var(--logo-tire-spacing) var(--size-4) 0;
  text-shadow: var(--logo-txt-shadow);
  line-height: .88;
  position: relative;
}

.logo * {
  display: block;
}

.logo:hover .logo-wheel {
  animation: spin 3s linear infinite;
}

.logo-line-1,
.logo-line-2 {
  position: relative;
  z-index: 1;
}

.logo-line-1 {
  font-size: var(--logo-font-size-1);
}

.logo-line-2 {
  font-size: var(--logo-font-size-2);
  letter-spacing: 1px;
}

.logo-tire {
  border: solid var(--logo-tire-width) var(--logo-color);
  border-radius: 50%;
  box-shadow: var(--logo-tire-shadow);
  height: var(--logo-tire-size);
  width: var(--logo-tire-size);
  opacity: .48;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.logo-wheel {
  background-image: url("../assets/wheel.png");
  background-position: 47% 50%;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  opacity: .96;
  position: absolute;
  inset: 0;
}

[logo-size="small"] {
  --logo-font-size-1: var(--size-32);
  --logo-font-size-2: var(--size-12);
  --logo-tire-size: var(--size-48);
  --logo-tire-spacing: var(--size-40);
  --logo-tire-width: var(--size-8);
}

[logo-mode="dark"] {
  --logo-color: var(--brand-black);
  --logo-txt-shadow: var(--txt-shadow-1-invert);
  --logo-tire-shadow: var(--box-shadow-1-invert);
}

[logo-mode="dark"] .logo-wheel {
  filter: invert(80%);
}

[logo-animate="true"] .logo-wheel {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(36deg); }
  20% { transform: rotate(72deg); }
  30% { transform: rotate(108deg); }
  40% { transform: rotate(144deg); }
  50% { transform: rotate(180deg); }
  60% { transform: rotate(216deg); }
  70% { transform: rotate(252deg); }
  80% { transform: rotate(288deg); }
  90% { transform: rotate(324deg); }
  100% { transform: rotate(360deg); }
}

/* cart */
.cart-details {
  margin-top: var(--size-16);
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
}

.cart-summary {
  margin-top: var(--size-32);
}

.cart-summary-title {
  border-bottom: solid var(--size-1) var(--brand-grey-d);
  font-size: var(--size-24);
  margin-bottom: var(--size-8);
  padding-bottom: var(--size-8);
}

.cart-summary-subtitle {
  font-size: var(--size-16);
  opacity: .72;
}

.cart-summary-subtotal {
  font-weight: bold;
  margin-top: var(--size-8);
}

.cart-summary-discount {
  margin-top: var(--size-16);
}

.cart-summary-discount-add {
  margin-top: var(--size-32);
  margin-bottom: var(--size-32);
}

.cart-summary-discount-codes {
  align-items: center;
  display: flex;
  font-size: var(--size-12);
  gap: var(--size-16);
  margin-top: var(--size-8);
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

[grid-gap="8"] {
  gap: var(--size-8);
}

[grid-gap="8/16"] {
  gap: var(--size-16) var(--size-8);
}

@media only screen and (min-width: 1025px) {
  [grid-desktop="2"] > * { grid-column: span 6; }
  [grid-desktop="3"] > * { grid-column: span 4; }
  [grid-desktop="4"] > * { grid-column: span 3; }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
  [grid-tablet="2"] > * { grid-column: span 6; }
  [grid-tablet="3"] > * { grid-column: span 4; }
  [grid-tablet="4"] > * { grid-column: span 3; }
}

@media only screen and (max-width: 767px) {
  [grid-mobile="1"] > * { grid-column: span 12; }
  [grid-mobile="2"] > * { grid-column: span 6; }
}

/* wrapper */
:root {
  --wrapper-width: 87.5rem;
  --wrapper-padding: var(--size-40);
}

[wrapper-type] {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--wrapper-padding);
  padding-left: var(--wrapper-padding);
}

[wrapper-type="structure"] {
  max-width: var(--wrapper-width);
}

/* product card */
:root {
  --product-card-bg-color: var(--brand-white);
  --product-card-border-radius: var(--border-radius);
  --product-card-title-color: var(--brand-color-primary);
  --product-card-title-font-size: var(--size-16);
  --product-card-font-size: var(--size-12);
}

.product-card {
  position: relative;
}

.product-card-asset {
  line-height: 0;
}

.product-card-content {
  font-size: var(--product-card-font-size);
}

.product-card-title {
  font-size: var(--product-card-title-font-size);
  font-weight: bold;
}

.product-card-asset {
  display: block;
}

.product-card-update {
  align-items: flex-end;
  display: flex;
  flex: 1 0 auto;
  gap: var(--size-4);
  padding-top: var(--size-4);
}

.product-card-update form {
  line-height: 0;
}

[product-card-type="grid"] .product-card-asset {
  margin-bottom: var(--size-16);
}

[product-card-type="grid"] .product-card-price {
  margin-top: var(--size-4);
}

[product-card-type="aside"] {
  background: var(--product-card-bg-color);
  box-shadow: var(--box-shadow-1);
  display: flex;
}

[product-card-type="aside"] .product-card-asset {
  min-width: var(--size-104);
  max-width: var(--size-104);
}

[product-card-type="aside"] .product-card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--size-8);
}

[product-card-type="aside"] .product-card-title {
  --product-card-title-font-size: var(--size-12);
}

[product-card-type="aside"] .product-card-qty {
  align-items: center;
  background: var(--brand-color-action);
  border-radius: 50%;
  color: var(--brand-white);
  display: flex;
  font-weight: bold;
  justify-content: center;
  height: var(--size-24);
  width: var(--size-24);
  position: absolute;
  top: var(--size-8);
  left: calc(-1 * var(--size-12));
  z-index: 1;
}

/* hero */
:root {
  --hero-font-color: var(--brand-black);
  --hero-title-size: var(--size-40);
  --hero-copy-size: var(--size-20);
}

.hero {
  overflow: hidden;
  position: relative;
}

.hero-asset {
  line-height: 0;
}

.hero-overlay {
  position: absolute;
  inset: 0;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-content {
  color: var(--hero-font-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-title {
  font-size: var(--hero-title-size);
}

.hero-copy {
  font-size: var(--hero-copy-size);
  margin-top: var(--size-8);
}

.hero-cta {
  margin-top: var(--size-16);
}

[hero-position="center-center"] .hero-content {
  align-items: center;
  grid-area: e;
  justify-content: center;
}

[hero-position*="bottom-"] {
  padding-bottom: var(--landmark-spacing);
}

[hero-position="bottom-left"] .hero-content { grid-area: g; }
[hero-position="bottom-right"] .hero-content { grid-area: i; }

[hero-theme~="dark"] .hero-content {
  --hero-font-color: var(--brand-white);
}

[hero-theme~="dark"][hero-theme~="overlay"] .hero-overlay {
  background: rgba(0,0,0,.32);
}

[hero-theme~="light"] .hero-content {
  --hero-font-color: var(--brand-black);
}

[hero-theme~="light"][hero-theme~="overlay"] .hero-overlay {
  background: rgba(255,255,255,.32);
}

/* section */
:root {
  --section-title-font-size: var(--size-24);
  --section-copy-font-size: var(--size-16);
}

.section {
  padding-top: var(--landmark-spacing);
  padding-bottom: var(--landmark-spacing);
}

.section-header {
  margin-bottom: var(--size-16);
}

.section-title {
  font-size: var(--section-title-font-size);
}

.section-copy {
  font-size: var(--section-copy-font-size);
  margin-top: var(--size-8);
}
