:root {
  --anchor-color: var(--color-secondary);
  --anchor-color-hover: var(--color-action);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--font-line-height);
}

main {
  min-height: calc(100vh - var(--size-80));
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a, button {
  cursor: pointer;
  transition: var(--transition-norm);
}

a {
  color: var(--anchor-color);
  text-decoration: none;
}

a:focus, a:hover {
  --anchor-color: var(--anchor-color-hover);
}

img, video {
  height: auto;
  max-width: 100%;
}

picture {
  line-height: 0;
}

li {
  list-style: none;
}
