* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--brand-font-color);
  font-family: var(--brand-font-family);
  font-size: var(--brand-font-size);
  font-weight: var(--brand-font-weight);
  line-height: var(--brand-line-height);
}

a, button {
  cursor: pointer;
  transition: var(--transition-norm);
}

a {
  text-decoration: none;
}

img, video {
  height: auto;
  max-width: 100%;
}

picture {
  line-height: 0;
}
